body {
  background-color: lightblue;

h1 {
  color: BlueViolet;
  border:4px solid;

  max-width: 900px;
  height: 45px;
  text-align: center;
}

p{
	color: MediumPurple;
	border:2px solid;
	max-width: 900px;
    height: 120px;
    text-align:justify;
}

h2{
   color:BlueViolet ;
   text-align: left;
}

ol{
color: DodgerBlue ;

}
	