body {
  background-color: lightblue;
  height:120px;
  text-align:justify;
  margin-left: 330px;
}

h1{
  color: BlueViolet;
  border:4px solid;
  width: 900px;
  height: 45px;
  font-family: Arial;
  text-align:center;
 

}

p{
max-width:900px;
  height:120px;
  font-size:16px;
 text-align:justify;
 color:white;
}
#summary{
	color:DodgerBlue;
	width:900px;
  font-size:18px;
}

h2{
   color:BlueViolet;
  
}

ul{
color: DodgerBlue;
text-align:left;
 
}

/*mulu*/
a{
  font-size:20px;
  color: black;
}
/* mouse over link */
a:hover {
  color: hotpink;
   margin: auto;
}

a:link {
  text-decoration: none;
}

a:active {
  color: black;
}


#one{
padding: 70px 50px;
  border: 4px double green;
  text-align: center;
   width: 50%;
    margin-left: 100px;
}
#twocenter{
padding: 70px 50px;
  border: 4px double green;
  text-align: center;
   width: 50%;
    margin-left: 100px;

}

#threecenter{
padding: 70px 50px;
  border: 4px double green;
  text-align: center;
   width: 50%;
    margin-left: 100px;

}

#fourcenter{
padding: 70px 50px;
  border: 4px double green;
  text-align: center;
   width: 50%;
    margin-left: 100px;

}

#fivecenter{
padding: 70px 50px;
  border: 4px double green;
  text-align: center;
   width: 50%;
    margin-left: 100px;

}

#two{
  padding: 70px 50px;
  border: 4px double green;
  text-align: center;
   width: 50%;
    margin-left: 100px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#three{
color:DodgerBlue;
  width:900px;
  font-size:18px;
  text-align:justify;

}
 /* border-style:dashed;
  border-width:2px;
  border-color:white;*/